apiVersion: v1
name: aws-node-termination-handler
description: A Helm chart for the AWS Node Termination Handler
version: 0.15.1
appVersion: 1.13.1
home: https://github.com/aws/eks-charts
icon: https://raw.githubusercontent.com/aws/eks-charts/master/docs/logo/aws.png
sources:
  - https://github.com/aws/eks-charts
maintainers:
  - name: Brandon Wagner
    url: https://github.com/bwagner5
    email: bwagner5@users.noreply.github.com
  - name: Jillian Montalvo
    url: https://github.com/jillmon
    email: jillmon@users.noreply.github.com
keywords:
  - eks
  - ec2
  - node-termination
  - spot
