apiVersion: v2
name: aws-node-termination-handler
description: A Helm chart for the AWS Node Termination Handler.
type: application
version: 0.16.1
appVersion: 1.14.1
kubeVersion: ">= 1.16-0"
keywords:
  - aws
  - eks
  - ec2
  - node-termination
  - spot
home: https://github.com/aws/eks-charts
icon: https://raw.githubusercontent.com/aws/eks-charts/master/docs/logo/aws.png
sources:
  - https://github.com/aws/aws-node-termination-handler/
  - https://github.com/aws/eks-charts/
maintainers:
  - name: Brandon Wagner
    url: https://github.com/bwagner5
    email: bwagner5@users.noreply.github.com
  - name: Jillian Kuentz
    url: https://github.com/jillmon
    email: jillmon@users.noreply.github.com
