apiVersion: v1
name: aws-node-termination-handler
description: A Helm chart for the AWS Node Termination Handler
version: 0.5.1
appVersion: 1.2.0
home: https://github.com/aws/eks-charts
icon: https://raw.githubusercontent.com/aws/eks-charts/master/docs/logo/aws.png
sources:
  - https://github.com/aws/eks-charts
maintainers:
  - name: Nicholas Turner
    url: https://github.com/nckturner
    email: nckturner@users.noreply.github.com
  - name: Stefan Prodan
    url: https://github.com/stefanprodan
    email: stefanprodan@users.noreply.github.com
  - name: Jillian Montalvo
    url: https://github.com/jillmon
    email: jillmon@users.noreply.github.com
  - name: Matthew Becker
    url: https://github.com/mattrandallbecker
    email: mattrandallbecker@users.noreply.github.com
keywords:
  - eks
  - ec2
  - node-termination
  - spot
